body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

#jeu {
    width: 800px;
    height: 400px;
    background: #333;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border: 3px solid white;
}


#joueur {
    width: 60px;
    height: 80px;
    background-image: url("images/soldat.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 20px;
    left: 100px;
}
#ennemi {
    width: 60px;
    height: 80px;
    background-image: url("images/ennemi.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 20px;
    left: 700px;
}
.balle {
    width: 10px;
    height: 5px;
    background: yellow;
    position: absolute;
}
#infos {
    font-size: 20px;
    margin: 10px;
    color: white;
}

#vie, #score {
    font-weight: bold;
}
#commandes {
    margin-top: 20px;
}

#commandes button {
    font-size: 30px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
}
